.developers-wrapper .developers-menu .accordion-button.dev-links.active::after,
.developers-wrapper .developers-menu .accordion-button:not(.collapsed).dev-links.active::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important
}

.dropdown-site-link:hover .dropdown-site-menu,
.steps-imgs-wrapper img.show,
.steps-imgs-wrapper.show {
    opacity: 1;
    visibility: visible
}

.blue-btn,
.cookies-btn,
.hlr-pricing .info a,
.main-btn,
.share-btn,
.yellow-btn,
a {
    text-decoration: none
}

#floating-dev,
.country-badge,
.dev-badge,
.dropdown-site-link svg,
.dropdown-site-menu,
.dropdown-site-menu li,
.dropdown-site-menu li a,
.search-input,
.site-menu {
    transition: .1s ease-in-out
}

.blue-btn,
.card-steps,
.card-steps.show,
.choose-card,
.color-card,
.cookies-btn,
.developers-wrapper .developers-menu .dev-links svg path,
.dropdown-site-menu li a svg path,
.footer-link-color,
.hlr-pricing .info a,
.main-btn,
.shadow-hover,
.share-btn,
.site-card,
.steps-imgs-wrapper img.show,
.steps-imgs-wrapper.show,
.yellow-btn,
.yellow-link {
    transition: .3s ease-in-out
}

#carouselHome .carousel-indicators .active {
    background-color: #ffbf00
}

.nav-link .tip {
    background-color: #0b52bc;
    display: inline-block;
    position: absolute;
    right: 20%;
    margin-right: -28px;
    top: -10px;
    font-size: 11px;
    line-height: .9;
    letter-spacing: .03em;
    padding: 5px 7px;
    color: #fff;
    border-radius: 5px
}

.fw-400,
.nav-link,
.nav-link .tip {
    font-weight: 400
}

.share-btn,
.social-link,
.w-fit {
    width: fit-content
}

.line,
.plate4 .line {
    transform-origin: 50%
}

body {
    padding-top: 145px;
    background-color: #f8fbff
}

body::-webkit-scrollbar {
    width: 5px
}

body::-webkit-scrollbar-track {
    background: #f1f1f1
}

body::-webkit-scrollbar-thumb {
    background: #888
}

a {
    color: #0a50b9
}

.outfit-font {
    font-family: Outfit, sans-serif
}

.dropdown-site-menu li a,
.mobile-link,
.mobile-menu .accordion-button,
.site-menu .nav-link {
    font-family: "Circular Std", sans-serif
}

.site-menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 4px 10.0172px rgba(69, 130, 236, .1)
}

.nav-item,
.nav-link {
    position: relative
}

.site-menu .navbar-collapse {
    flex: 0
}

.nav-link {
    font-size: 16px;
    margin-left: 25px;
    color: #000 !important;
    white-space: nowrap
}

.choose-float-1,
.choose-float-2 {
    top: 0;
    z-index: 2;
    position: absolute
}

.nav-link .tip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 0;
    border-color: #0b52bc transparent transparent
}

.dropdown-site-link:hover .nav-link,
.dropdown-site-menu li.active a,
.dropdown-site-menu li:hover a,
.mobile-link.active,
.nav-link.active,
.nav-link:hover,
.site-menu .accordion-button.active {
    color: #0b52bc !important
}

.dropdown-site-menu li.active a svg path,
.dropdown-site-menu li:hover a svg path {
    fill: #0b52bc !important
}

.menu-icon {
    padding: 8px;
    background: #f5f5f5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px
}

.conv-bg,
.home-banner,
.img-bg {
    background-position: center
}

.home-banner,
.img-bg {
    background-size: cover;
    background-repeat: no-repeat
}

.dropdown-site-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    list-style: none;
    box-shadow: rgba(0, 0, 0, .24) 0 3px 8px;
    padding: 25px 20px;
    min-width: 220px;
    left: 25px;
    z-index: 9
}

.dropdown-site-menu.lg {
    min-width: 765px
}

.dropdown-site-menu.help {
    left: -200px
}

.blue-shadow,
.site-card,
.testimonials-card {
    box-shadow: 0 0 6px rgba(59, 129, 195, .2), 0 0 80px rgba(69, 130, 236, .05), 0 0 10.0172px rgba(69, 130, 236, .1)
}

.dropdown-site-menu li {
    margin-bottom: 15px;
    padding: 5px 10px;
    border-radius: 5px
}

.dropdown-site-menu li a {
    font-size: 16px;
    color: #0d1c2b !important;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    width: 100%
}

.dropdown-site-menu li:last-child {
    margin-bottom: 0
}

.dropdown-site-menu li.active,
.dropdown-site-menu li:hover {
    background: #f0f0f0
}

.dropdown-site-link svg {
    margin-top: 5px
}

.dropdown-site-link:hover svg:not(.icon) {
    transform: rotate(180deg);
    fill: #0b52bc
}

.dropdown-site-link button.active+svg {
    fill: #0b52bc
}

.home-banner {
    background-color: #f1f6ff;
    min-height: 510px;
    display: flex;
    align-items: center;
    background-image: url(/assets/images/home-banner.svg)
}

#carouselHome .carousel-indicators {
    display: flex;
    flex-direction: column;
    left: -165px;
    top: -115px;
    height: 500px
}

#carouselHome .carousel-indicators button {
    background-color: #a3b8c5;
    height: 18px;
    width: 18px;
    border-radius: 11px;
    border-top: none;
    border-bottom: none;
    margin: 5px 0;
    transition: .6s ease-in-out;
    opacity: 1
}

#carouselHome .carousel-inner,
.z-5 {
    z-index: 5
}

#carouselHome.vert .carousel-item {
    min-height: 430px
}

#carouselHome.vert .carousel-item .fs-64 {
    line-height: 65px
}

#carouselHome.vert .carousel-item-next.carousel-item-start,
#carouselHome.vert .carousel-item-prev.carousel-item-end {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#carouselHome.vert .active.carousel-item-end,
#carouselHome.vert .carousel-item-next {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0)
}

#carouselHome.vert .active.carousel-item-start,
#carouselHome.vert .carousel-item-prev {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
}

@media (max-width:1460px) {
    #carouselHome .carousel-indicators {
        left: -150px
    }
}

@media (max-width:1024px) {
    #carouselHome .carousel-indicators {
        left: -100px
    }
}

@media (max-width:991px) {
    #carouselHome .carousel-inner {
        padding: 0 70px
    }
}

@media (max-width:767px) {
    #carouselHome .carousel-indicators {
        left: -65px
    }
}

@media (max-width:575px) {
    #carouselHome .carousel-indicators {
        display: none
    }

    #carouselHome .carousel-inner {
        padding: 0 15px
    }
}

.dark-color {
    color: #0d1c2b
}

.black-color {
    color: #0c0c0cc7
}

.black-color-1,
.footer-link-color:hover {
    color: #000
}

.footer-link-color,
.white-color,
.yellow-link:hover {
    color: #fff
}

.white-color-1 {
    color: #f8fbff
}

.bg-white-color {
    background-color: #fff
}

.img-bg {
    background-image: url(/assets/images/number-validation/bg-1.webp)
}

.gray-color {
    color: #6c757d
}

.gray-color-1 {
    color: #50575d
}

.primary-color {
    color: #0697e9
}

.dark-blue-bg {
    background: #2d50ce
}

.fs-12 {
    font-size: 12px
}

.fs-14 {
    font-size: 14px
}

.fs-15 {
    font-size: 15px
}

.fs-16 {
    font-size: 16px
}

.fs-18 {
    font-size: 18px
}

.fs-20 {
    font-size: 20px
}

.fs-22 {
    font-size: 22px
}

.fs-24 {
    font-size: 24px
}

.conv-bg h3,
.fs-32 {
    font-size: 32px
}

.fs-48 {
    font-size: 48px
}

.fs-64 {
    font-size: 64px
}

.cookies-btn,
.yellow-btn {
    font-size: 16px;
    color: #0d1c2b
}

.blue-btn,
.fw-600,
.main-btn,
.yellow-btn {
    font-weight: 600
}

.line-h-40 {
    line-height: 40px
}

.main-btn {
    background: #0b5cd5;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff
}

.blue-btn:hover,
.main-btn:hover,
.share-btn:hover {
    color: #fff;
    box-shadow: rgba(0, 0, 0, .24) 0 3px 8px
}

.site-card {
    background: #fff;
    padding: 16px;
    border-radius: 5px;
    min-height: 100%
}

.conv-bg {
    background-image: url(/assets/images/bubble.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 15px;
    margin-left: -70px
}

.get-started-bg,
.small-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px
}

.conv-bg h3 {
    margin-right: 20px
}

.min-h-185 {
    min-height: 185px
}

.get-started-bg {
    background-image: url(/assets/images/home-4.webp);
    min-height: 330px;
    opacity: .7
}

.small-bg {
    background-image: url(/assets/images/home-9.png)
}

.yellow-btn {
    background: #f2b91b;
    border-radius: 5px;
    padding: 15px 25px
}

.cookies-btn:hover,
.yellow-btn:hover {
    color: #0d1c2b;
    box-shadow: rgba(0, 0, 0, .24) 0 3px 8px
}

.cookies-btn {
    border: 1px solid #009ef7;
    border-radius: 5px;
    padding: 10px 25px;
    background: #fff
}

.blue-btn,
.share-btn {
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px 25px
}

.blue-btn {
    background: #0b5cd5
}

.share-btn {
    display: flex;
    justify-content: center;
    align-items: center
}

.custom-badge p,
.share-btn span {
    margin-left: 10px
}

.share-btn.facebook {
    background: #4267b2
}

.share-btn.tweet {
    background: #006eb1
}

.share-btn.pin {
    background: #bd081c
}

.share-btn.linked {
    background: #0a66c2
}

.yellow-link {
    color: #ffcf4a
}

footer {
    padding: 30px 30px 10px;
    background: url(/assets/images/footer-sheap.svg) right bottom no-repeat #2d50ce;
    border-top: 1px solid #d5eaff;
    border-radius: 173px 173px 0 0
}

.social-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid #d7edfc;
    padding-right: 15px
}

.plate {
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center
}

.burger {
    filter: url(#gooeyness)
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray .5s .2s, stroke-dashoffset .5s .2s, transform .5s .2s
}

.plate4 .line {
    transition: transform .4s .1s
}

.active.plate4 .line {
    transition: transform .4s
}

.active.plate4 .line1 {
    transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(.7)
}

.active.plate4 .line2 {
    transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(.7)
}

.active.plate4 .line3 {
    transform: translateY(0) rotate(45deg) scale(.7)
}

.active.plate4 .line4 {
    transform: translateY(0) rotate(-45deg) scale(.7)
}

.active.plate4 .line5 {
    transform: translateX(18px) translateY(3px) rotate(45deg) scale(.7)
}

.active.plate4 .line6 {
    transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(.7)
}

.active.plate8 .line4 {
    stroke-dasharray: 5 201;
    stroke-dashoffset: -158px;
    transition-delay: 60ms
}

#SMSServiceAccordion .accordion-button::after,
#SMSServiceAccordion .accordion-button:not(.collapsed)::after,
.faqs-accordion .accordion-button::after,
.faqs-accordion .accordion-button:not(.collapsed)::after,
.mobile-menu {
    display: none
}

.mobile-link {
    font-weight: 400;
    font-size: 16px;
    color: #0d1c2b !important;
    white-space: nowrap
}

.mobile-menu .accordion-button {
    color: #0d1c2b !important;
    font-size: 16px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0
}

.page-banner {
    width: auto;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 14px;
    padding: 30px;
    display: flex;
    align-items: center
}

.about-choose-bg {
    background-color: #2d50ce;
    min-height: 525px;
    position: relative;
    margin-bottom: 180px
}

.choose-card,
.testimonials-card {
    background: #fff;
    text-align: center
}

.choose-card {
    border-radius: 5px;
    padding: 16px
}

.choose-card:hover,
.color-card:hover,
.dev-badge:hover,
.hlr-pricing .info a:hover {
    box-shadow: rgba(0, 0, 0, .24) 0 3px 8px
}

.choose-float-1 {
    left: 0
}

.choose-float-2 {
    right: 0
}

.testimonials-wrraper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -110px
}

.testimonials-card {
    border-radius: 10px;
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
    margin-bottom: 5px;
    min-height: 220px
}

.testimonials-wrraper .carousel-indicators {
    bottom: -50px
}

.testimonials-wrraper .carousel-indicators [data-bs-target] {
    background: #d9d9d9;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    border-top: none;
    border-bottom: none
}

.color-card {
    padding: 20px;
    border-radius: 14px;
    position: relative;
    height: 100%
}

.blue-badge,
.yellow-badge {
    border-radius: 3px;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 12px;
    width: fit-content
}

.color-card.blue {
    background: #e2f8ff
}

.color-card.pink {
    background: #fffbd9
}

.color-card .icon {
    position: absolute;
    top: 0;
    right: 0
}

.blue-badge {
    background: #19568f;
    color: #fff
}

.yellow-badge {
    background: #ffc107;
    color: #212529
}

.custom-badge,
.dev-badge {
    border-radius: 5px;
    margin-right: 15px;
    margin-top: 10px;
    display: flex
}

.badge-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap
}

.custom-badge {
    justify-content: flex-start;
    align-items: center;
    padding-right: 15px;
    min-width: 165px
}

.dev-badge {
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    min-width: 115px;
    background: #fff
}

.borderd-card.green,
.dev-badge.green {
    border: 1px solid #3c3
}

.borderd-card.blue,
.dev-badge.blue {
    border: 1px solid #3b81c3
}

.borderd-card.yellow,
.dev-badge.yellow {
    border: 1px solid #f2b91b
}

.borderd-card.dark,
.dev-badge.dark {
    border: 1px solid #0d1c2b
}

.borderd-card.purple,
.dev-badge.purple {
    border: 1px solid #ca27d8
}

.borderd-card.cyan,
.dev-badge.cyan {
    border: 1px solid #30bba2
}

.custom-badge.light-blue {
    background: #d7e4ff
}

.custom-badge.light-blue p {
    color: #0256a5
}

.custom-badge.pink {
    background: #ffd7d7
}

.custom-badge.pink p {
    color: #9f2e2e
}

.custom-badge.light-green {
    background: #b6fdab
}

.custom-badge.light-green p {
    color: #145709
}

.custom-badge.purple {
    background: #e3c0ff
}

.custom-badge.purple p {
    color: #560a91
}

.custom-badge.yellow {
    background: #fcff81
}

.custom-badge.yellow p {
    color: #5f5d2c
}

.custom-badge.red {
    background: #ffc1d8
}

.custom-badge.red p {
    color: #9a0037
}

.custom-badge.cyan {
    background: #adfff0
}

.custom-badge.cyan p {
    color: #147a68
}

.custom-badge.green {
    background: #a2ffc7
}

.custom-badge.green p {
    color: #09642e
}

.sms-solutions-tabs .nav-item {
    flex: 1
}

.sms-solutions-tabs .nav-link {
    color: #56748f !important;
    padding: 20px 50px;
    border-radius: 10px 10px 0 0;
    border: none;
    width: 100%;
    margin-left: 0
}

.sms-solutions-tabs .nav-link.active {
    color: #0d1c2b !important;
    background: #eaf1ff
}

.sms-solutions-tabs .tab-content {
    background: #eaf1ff;
    padding: 20px 60px
}

#SMSServiceAccordion .accordion-button::before,
.faqs-accordion .accordion-button::before {
    background-image: url(/assets/images/plus.svg);
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-right: 10px;
    content: "";
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition)
}

#SMSServiceAccordion .accordion-button:not(.collapsed)::before,
.faqs-accordion .accordion-button:not(.collapsed)::before {
    background-image: url(/assets/images/minus.svg)
}

#SMSServiceAccordion .accordion-button,
#SMSServiceAccordion .accordion-button:not(.collapsed) {
    background: #f2b91b;
    border-radius: 5px;
    box-shadow: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #0d1c2b;
    font-family: Outfit, sans-serif
}

.faqs-accordion .accordion-button,
.faqs-accordion .accordion-button:not(.collapsed) {
    border-radius: 5px;
    box-shadow: none;
    padding: 10px;
    font-size: 15px;
    color: #0d1c2b;
    font-family: Outfit, sans-serif
}

.dark-green-badge {
    background: #adffba;
    color: #007713;
    font-family: Outfit, sans-serif;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    margin: 0 5px
}

.hlr-pricing {
    background: #d7e4ff;
    border-radius: 5px 5px 10px 10px;
    text-align: center;
    padding-top: 5px
}

.hlr-pricing .info {
    background: #005fb8;
    border-radius: 10px;
    padding: 10px
}

.hlr-pricing.dark .info {
    background: #0e3153
}

.hlr-pricing .info .price {
    color: #f2b91b;
    font-weight: 700;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Outfit, sans-serif
}

.hlr-pricing .info a,
.nav-pills.dev .nav-link {
    font-weight: 600;
    font-family: Outfit, sans-serif
}

.hlr-pricing .info .price .cent {
    font-size: 25px;
    margin-top: 9px
}

.hlr-pricing .info .per-one {
    font-size: 16px;
    color: #dcdef6;
    padding-bottom: 15px
}

.hlr-pricing .info a {
    background: #009ef7;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 16px;
    color: #fff;
    display: block
}

.blue-card {
    background: #e2f8ff;
    border-radius: 5px;
    padding: 10px;
    height: 100%
}

.blue-card h3 {
    color: #0575b3
}

.donwload-arrow {
    position: absolute;
    right: 175px;
    top: 40px
}

.country-badge {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 38, 61, .2);
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 127px;
    width: 100%;
    flex-direction: column
}

.country-badge:hover {
    border: 1px solid #ffbf00
}

.search-wrapper {
    position: relative;
    width: fit-content;
    margin: 20px auto
}

.search-input {
    background: rgba(243, 250, 255, .5);
    border: 1px solid #959eb0;
    border-radius: 5px;
    padding: 10px 20px 10px 40px;
    font-size: 16px;
    color: #0d1c2b;
    min-width: 365px
}

.search-input:focus,
.search-input:focus-visible {
    border: 1px solid #ffbf00 !important;
    box-shadow: none !important;
    outline: 0
}

.search-input::placeholder {
    font-size: 16px;
    color: #0d1c2b
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 8px
}

.blue-rectangle-bg {
    background-image: url(/assets/images/bulksmscountries/blue-rectangle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 15px 100px
}

.light-blue-bg {
    background: url(/assets/images/bulksmscountries/countrycoins.webp) right/435px no-repeat #f1f6ff;
    padding: 30px 50px;
    border-radius: 10px
}

.cookies,
.pricing-light-card {
    margin-left: auto;
    background: #fff;
    margin-right: auto
}

.footer-list {
    list-style: none
}

.footer-list li::before {
    content: "â€¢ ";
    color: #fff
}

.blue-card-border {
    border-right: 1px solid #3b81c3
}

.card-border-right {
    border-right: 1px solid #ebebeb
}

.sms-marketing-advantages {
    position: relative;
    padding-top: 150px
}

.sms-marketing-advantages .left {
    position: absolute;
    left: 210px;
    top: 60px;
    z-index: 1
}

.sms-marketing-advantages .right {
    position: absolute;
    right: 185px;
    top: 0;
    z-index: 1
}

.z-2 {
    z-index: 2
}

.borderd-card {
    border-radius: 5px;
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.borderd-card.red {
    border: 1px solid #d82727
}

.cookies {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 25px;
    padding: 20px;
    border: 1px solid #3b81c3;
    box-shadow: 0 0 6px rgba(59, 129, 195, .2), 0 0 80px rgba(69, 130, 236, .05), 0 0 10.0172px rgba(69, 130, 236, .1);
    border-radius: 15px;
    width: 75%;
    max-width: 1126px;
    z-index: 85
}

.developers-wrapper .developers-menu .dev-links,
.useful-links {
    display: flex;
    width: 100%;
    text-decoration: none;
    transition: .3s ease-in-out
}

table td,
table th {
    padding: 15px 10px !important
}

pre {
    overflow-x: scroll !important;
    background: #0d1c2b !important;
    max-width: 65vw;
    font-size: 15px !important
}

pre::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

pre::-webkit-scrollbar-track {
    background: #f1f1f1
}

pre::-webkit-scrollbar-thumb {
    background: #888
}

.nav-pills.dev .nav-link {
    min-width: 215px;
    font-size: 18px;
    color: #0d1c2b;
    text-align: left
}

.nav-pills.dev .nav-link.active {
    color: #fff !important
}

.pricing-light-card {
    text-align: center;
    max-width: 285px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important
}

.pricing-light-card .bg {
    text-align: center;
    padding: 40px;
    border-radius: 10px 10px 0 0;
    background: #e8eeff
}

.pricing-light-card .bg.pink {
    background: #faf9e7
}

.light-line {
    border-color: #0975c9
}

#floating-dev.floating {
    z-index: 8;
    position: fixed;
    left: 0;
    right: 0;
    background: #f6f6fa;
    top: 140px;
    padding-bottom: 12px
}

.warningNotice {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99;
    max-width: 25%;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(59, 129, 195, .2), 0 0 80px rgba(69, 130, 236, .05), 0 0 10.0172px rgba(69, 130, 236, .1)
}

.steps-content-wrapper {
    position: relative;
    overflow: hidden;
    min-height: 325px
}

.card-steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 295px;
    margin: 0 auto;
    opacity: .3;
    height: 100%;
    min-height: 370px
}

.steps-imgs-wrapper,
.steps-imgs-wrapper img {
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out
}

.card-steps.show {
    opacity: 1
}

.steps-imgs-wrapper {
    min-width: 412px;
    overflow: hidden;
    min-height: 385px;
    position: relative
}

.steps-imgs-wrapper.show {
    position: sticky;
    top: 42vh;
    right: 15vw
}

.steps-imgs-wrapper img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto
}

.shadow-hover:hover,
.useful-links:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important
}

.developers-wrapper {
    height: 100%;
    display: flex;
    flex-grow: 1
}

.developers-wrapper .developers-menu {
    border-right: 1px solid #c2c5c9;
    min-height: 100%;
    min-width: 20vw;
    padding: 25px 35px;
    position: relative
}

.developers-wrapper .developers-menu .menu-content {
    position: fixed;
    transition: .3s ease-in-out
}

.developers-wrapper .developers-menu .dev-links {
    border-radius: 8px;
    padding: 8px 10px;
    justify-content: flex-start;
    align-items: center;
    color: #000;
    font-size: 14px
}

.developers-wrapper .developers-menu .dev-links.active,
.developers-wrapper .developers-menu .dev-links:hover {
    color: #fff;
    background-color: #0d6efd
}

.developers-wrapper .developers-menu .dev-links.active svg.fill path,
.developers-wrapper .developers-menu .dev-links:hover svg.fill path {
    fill: #ffffff
}

.developers-wrapper .developers-menu .dev-links.active svg.stroke path,
.developers-wrapper .developers-menu .dev-links:hover svg.stroke path {
    stroke: #ffffff
}

.developers-wrapper .developers-menu .accordion-button:not(.collapsed).dev-links.active::after {
    transform: rotate(180deg)
}

.developers-wrapper .developers-menu .accordion-body .nav-pills.dev .nav-link {
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 400;
    min-width: 150px;
    margin-left: 0
}

.dev-card .icon {
    min-width: 90px;
    max-width: 90px;
    min-height: 90px;
    max-height: 90px;
    border-radius: 20px;
    background-color: #0b52bc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out
}

.dev-card:hover .icon {
    background-color: #f1b91b
}

.useful-links {
    padding: 15px 25px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #c3c3c3;
    color: #0b52bc;
    font-size: 16px;
    font-weight: 700
}

.developers-content .nav.nav-tabs {
    border-bottom: 1px solid #c2c5c9
}

.developers-content .nav.nav-tabs .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    font-size: 15px;
    color: #565656 !important;
    margin-left: 10px
}

.developers-content .nav.nav-tabs .nav-link.active {
    border-bottom: 2px solid #0b52bc;
    color: #121212 !important
}

.table-custom thead tr th {
    background-color: #0b52bc;
    color: #fff
}

.badge-method {
    background-color: #007bff;
    color: #fff;
    padding: 3px 7px;
    border-radius: 3px;
    font-weight: 700;
    font-size: .7em;
    margin-right: 5px
}

@media (max-width:1400px) {
    .donwload-arrow {
        right: 130px
    }
}

@media (max-width:1200px) {
    .nav-link {
        margin-left: 5px
    }

    .donwload-arrow {
        display: none
    }

    .warningNotice {
        max-width: 50%
    }
}

@media (max-width:991px) {

    .conv-bg,
    .developers-wrapper .developers-menu .menu-content {
        position: relative
    }

    .developers-wrapper {
        flex-direction: column
    }

    .developers-wrapper .developers-menu {
        border-right: none;
        margin-bottom: 30px
    }

    .blue-rectangle-bg,
    .conv-bg,
    .light-blue-bg {
        background-image: none
    }

    body {
        padding-top: 77px
    }

    footer {
        border-radius: 40px 40px 0 0
    }

    #carouselHome.vert .carousel-item .fs-64 {
        font-size: 35px;
        line-height: 40px
    }

    #carouselHome.vert .carousel-item {
        min-height: 450px
    }

    .conv-bg {
        margin-left: 0
    }

    .conv-bg h3 {
        color: #fff
    }

    .conv-bg p {
        margin-right: 0
    }

    .mobile-menu {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        background-color: #fff;
        width: 100%;
        height: 350px;
        padding: 10px 25px;
        top: 77px;
        overflow-y: scroll;
        box-shadow: rgba(0, 0, 0, .1) 0 10px 15px -3px, rgba(0, 0, 0, .05) 0 4px 6px -2px;
        transition: .2s ease-in-out
    }

    .mobile-menu.show {
        opacity: 1;
        visibility: visible
    }

    .choose-float-1,
    .choose-float-2,
    .sms-marketing-advantages .left,
    .sms-marketing-advantages .right {
        display: none
    }

    .sms-solutions-tabs .nav-link {
        padding: 20px 23px
    }

    .blue-rectangle-bg {
        padding: 15px
    }

    .blue-card-border,
    .blue-sm-bottom-border {
        border-bottom: 1px solid #3b81c3;
        border-right: none
    }

    .sms-marketing-advantages {
        padding-top: 20px
    }

    pre {
        max-width: 50vw
    }

    #floating-dev.floating {
        top: 75px
    }

    .warningNotice {
        max-width: 75%
    }
}

@media (max-width:768px) {
    .testimonials-wrraper {
        position: relative
    }

    .sms-solutions-tabs .nav-link {
        border-radius: 10px
    }

    .search-input {
        min-width: 100%
    }

    #carouselHome.vert .carousel-item {
        min-height: 330px
    }

    .page-banner {
        height: 190px;
        padding: 10px 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center
    }

    .share-btn {
        margin-top: 10px
    }

    .cookies {
        width: 95%
    }

    .w-sm-100 {
        width: 100%
    }

    pre {
        max-width: 80vw
    }

    .warningNotice {
        max-width: 100%;
        left: 10px
    }
}

@media (max-width:450px) {
    .badge-wrapper {
        justify-content: center
    }

    #carouselHome.vert .carousel-item {
        min-height: 350px
    }

    pre {
        max-width: 95vw
    }
}